.title{
    font-size: 18px;
    font-weight:500
}
.example-card{
    max-width: 800px;
}
/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
} */
.layout{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.styletitle{
    width: 80px;
    margin: 0px;
}