<div class="layout">
    <mat-card style="max-width: 450px;min-height: 250px;">
        <div>
            <p style="margin-bottom: 50px;" class="title">Login</p>
            <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && login(loginForm.value)" class="example-form">
                <mat-form-field appearance="fill" class="forms">
                    <mat-label>Tài khoản</mat-label>
                    <input [(ngModel)]="loginmodel.email" name="email" #email="ngModel" required matInput>
                </mat-form-field>
                <div class="text-danger"
                    *ngIf="(email.touched||loginForm.submitted) && email.errors?.required">
                    <p>bạn chưa nhập tên</p>
                </div>
                <mat-form-field appearance="fill" class="forms">
                    <mat-label>Mật khẩu</mat-label>
                    <input [(ngModel)]="loginmodel.password" name="password" #password="ngModel" required matInput
                        [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <div class="text-danger"
                    *ngIf="(password.touched||loginForm.submitted) && password.errors?.required">
                    <p>bạn chưa nhập mật khẩu</p>
                </div>
                <div class="footer">
                        <button class="button" mat-raised-button color="primary">Đăng nhập</button>
                        <button class="button" mat-raised-button color="primary">Đăng kí</button>                 
                </div>
            </form>
        </div>
    </mat-card>
</div>