<div style="margin-top: 20px;">
    <div style="display:flex;width: 100%;">
        <div style="display: flex;width: 50%;margin-left: 50px;">
            <p style="font-size: 16px;font-weight:600;margin-right: 5px;">Ngày sinh từ</p>
            <div style="margin-right:25px">
                <input style="border-radius: 2px;border: 1px black solid;" type="date"/>
            </div>
                <p style="font-size: 16px;font-weight:600;margin-right: 5px;">Đến ngày</p>
            <div>
                <input style="border-radius:2px;border:1px black solid" type="date"/>
            </div>
        </div>
        <div style="display:flex;width: 50%;">
            <div style="font-size:16px;font-weight:600;margin-right:10px">Giới tính</div>
            <div>
                <select style="border-radius: 2px;border: 1px black solid;width: 80px;height: 30px;font-size: 14px;">
                    <option value="">Tất cả</option>
                    <option value="0">Nam</option>
                    <option value="1">Nữ</option>
                    <option value="2">Khác</option>
                </select>
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Favorite food</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let food of selectArray" [value]="food.id">
                        {{food.text}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
            </div>
        </div>

    </div>
    <div style="display:flex;margin-top: 25px;width: 100%;">
        <div style="display:flex;width: 50%;margin-left: 50px">
            <p style="font-size: 16px;font-weight:600;margin-right:30px">Tìm kiếm</p>
        <div>
            <input type="text" placeholder="Tìm kiếm" style="border: 1px black solid;border-radius:2px;width:380px;height: 35px;"/>
        </div>
        </div>

        <div style="width:50%;margin-left: 50px;">
            <button style="margin-right: 25px" mat-raised-button>Tìm</button>
            <button routerLink="create" mat-raised-button>Thêm mới</button>
            <!-- <button style="border-radius:2px;border:1px black solid;border-radius:3px;padding: 2px 35px;box-shadow: 3px 5px 1px 0px #1f1b1b;margin-right: 25px;font-size: 14px;background-color: white;">Tìm</button> -->
            <!-- <button style="border-radius:2px;border:1px black solid;border-radius:3px;padding: 2px 15px;box-shadow: 3px 5px 1px 0px #222525;font-size:14px;background-color: white;">Thêm mới</button> -->
        </div>
    </div>
    <div class="table-b">
        <table>
            <tr>
              <th>ID</th>
              <th>Họ tên</th>
              <th>Ngày sinh</th>
              <th>Giới Tính</th>
              <th>Điện thoại</th>
              <th>Email</th>
              <th>Thiết lập</th>

            </tr>
            <tr *ngFor="let a of listUser;index as i">
              <td>{{i+1}}</td>
              <td>{{a.name}}</td>
              <td>{{formatDate(a.dob)}}</td>
              <td>{{format(a.gt)}}</td>
              <td>{{a.phoneNumber}}</td>
              <td>{{a.email}}</td>
              <td>
                <div class="setting">
                    <button (click)="EditId(a.id)"  style="margin-right: 25px;" mat-raised-button>Sửa</button>
                    <button (click)="deleteUser(a.id)" style="margin-right: 25px;" mat-raised-button>Xóa</button>
                    <!-- <button style="border-radius:2px;border:1px black solid;border-radius:3px;padding: 2px 35px;box-shadow: 3px 5px 1px 0px #1f1b1b;margin-right: 25px;font-size: 14px;background-color: white;">sửa</button>
                    <button style="border-radius:2px;border:1px black solid;border-radius:3px;padding: 2px 35px;box-shadow: 3px 5px 1px 0px #1f1b1b;margin-right: 25px;font-size: 14px;background-color: white;">xóa</button> -->
                </div>
            </td>

            </tr>
          </table>
    </div>
    <div></div>
</div>
